PlayFrame{
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
}

QProgressBar{
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
}

QProgressBar::chunk{
    border-radius: 5px;
    background-color: white;
}


QFrame#ControlWidget>QPushButton{
    border-radius: 25px;
    background-color: rgb(45, 45, 45);
}

QFrame#DurationWidget>QLabel{
    color: rgb(180, 180, 180);
}